.hide {
    visibility: hidden;
}

.shopping-card:hover {
    .hide {
        visibility: visible;
        display: grid;
        place-content: center;
    }
}

.shopping-card:blur {
    .hide {
        visibility: hidden;
    }
}